<!DOCTYPE html>
<html lang="en">

<head>
    <!--metas-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Rodrigo Martinez">
    <meta name="description" content="Resolucion de problemas por metodo grafico">


    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <!-- Titulo -->
    <title>Simplex Method</title>

    <!--css-->
    <link rel="stylesheet" href="static/css/normalize.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/custom.css">
    <link href="static/dist/css/select2.min.css" rel="stylesheet">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    
    <!-- favicon -->
    <link rel="icon" type="image/png" href="static/img/SimplexMethod-favicon.png">

</head>

<body>
    <section class="container-fluid bg_gray">
    {{> header}}
    </section>
    <!-- HEADER-->
    <!--container informacion-->
    <section class="container">
        <div class="introduccion">
            <div class="row">
                <div class="col-sm-12">
                    <p class="titulo_introduccion2">The Simplex Method consist in solve linear programming problems with an iterative algorithm that in every iteration play with the
                        variables, with the help of surplus, artificial and slack variables in their different constraints to give us an optimal solution.</p><br>
                    <p class="titulo_introduccion2">This program use the objective function and the constraints to make a graphical solution to your problem</p>
                </div>
            </div>
        </div>
    </section>
    <!--Termina container de informacion-->

    <section class="container-fluid bgblue">
    
    <!--Set inputs-->
    <div class="row">
        <div class="col-md-11 offset-md-1">
            <h1 class="titulo_introduccion">Select inputs</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11 offset-md-1">
            <p class="instrucciones">Number of variables
                <input autocomplete="off" id="numvar" name="numvar" type="number" step="1" placeholder="Variables"/>
            </p>
            <p class="instrucciones">Number of constraints
                <input autocomplete="off" id="numcon" name="numcon" type="number" step="1" placeholder="Constraints"/>
            </p>
            <button id="buttoninput" class="button" type="button"><span>Continue</span></button>
        </div>
    </div>
    <!--Final set inputs-->
    
    
    <!--objective function
    <div class="row">
        <div class="col-md-11 offset-md-1">
            <h1 class="titulo_introduccion">Objective function</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11 offset-md-1">
            <p class="instrucciones">Select the optimal function</p>
            <select name="g1" id="select_obj" class="select_oe">
                <option value="-1">Maximize</option>
                <option value="1">Minimize</option>          
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11 offset-md-1"><br>
            <input type="hidden" name="count-variables" value="1" />
            <div class="control-group" id="fields-variables">
                <div class="controls" id="profs">
                    <p class="instrucciones">Number of variables</p>
                    <div class="input-group" id="field-variable1">
                        <span class="input-group-addon">1</span>
                        <input autocomplete="off" class="span2" id="variable1" name="variable1" type="number" step="0.01" placeholder="Variable"/>
                        <span class="variable_obj">&nbsp;X1</span>
                    </div>
                    <button id="b1" class="btn add-variable glyphicon glyphicon-plus" type="button">+</button>
                    <button id="b2" class="btn btn-danger remove-variable glyphicon-minus" type="button">-</button>
                    <br>
                    <p class="instrucciones">Press + to add another variable and - to remove it</p>
                    <p class="instrucciones">Maximum 10 Variables</p>
                    <button id="buttonvariables" class="button" type="button"><span>Continue</span></button>
                </div>
            </div>
        </div>
    </div>
    End objective function-->

    <!--Constrains
    <div class="row">
        <div class="col-md-11 offset-md-1">
            <h1 class="titulo_introduccion">Number of constraints</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11 offset-md-1">
            <input type="hidden" name="count" value="1" />
            <div class="control-group" id="fields">
                <div class="controls" id="profs"> 
                    <div class="input-group" id="field1">
                        <span class="input-group-addon">1</span> 
                        <input autocomplete="off" class="span2 constraint" id="vc1_1" name="vc1_1" type="number" step="0.01" placeholder="Constraint"/>
                        <span class="variable_obj vc_label1">&nbsp;X1 </span>
                        <select id="option1" class="select_constraints">
                            <option value="-1">>=</option>
                            <option value="1"><=</option>
                            <option value="0">=</option>
                        </select>
                        <input autocomplete="off" class="span2 constraint"  name="con1" type="number" step="0.01" placeholder="Condition"/>
                    </div>
                    <button id="b1" class="btn add-more glyphicon glyphicon-plus" type="button">+</button>
                    <button id="b2" class="btn btn-danger remove-one" type="button">-</button>
                    <br>
                    <p class="instrucciones">x, y ≥ 0</p>
                    <p class="instrucciones">Press + to add another constraint and - to remove it</p>
                    <p class="instrucciones">Maximum 10 Constraints</p>
                </div>
            </div>
        </div>
    </div>    
    End Constraints-->


    <div class="container_result bgblue row" id="solve-div">
        
    </div>

    <!--<div class="row" style="margin-top:50px;">
       
    </div>-->
    </section>
    
    {{> footer}}
     <!-- Bootstrap -->
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/addInput.js"></script>
    <script src="static/dist/js/select2.min.js"></script>
    <script type="text/javascript">
		$(".select_oe").select2({
		  allowClear: true
		});;
	</script>
</body>
</html>